@model BaiTapThucTap.Controllers.BaiTap13Controller.CombinedViewModel

<partial name="_Notification" />
<div class="row">
    <div class="col-md-6">
        <h2>Chi Tiết xuất kho</h2>
    </div>

</div>
<br>
<div>
    <h5>Số Phiếu xuất: @(Model.BaiTap13Model?.Bai11?.So_Phieu_Xuat_Kho ?? "N/A")</h5>
    <h5>Ngày Nhập: @(Model.BaiTap13Model.Bai11?.Ngay_Xuat_Kho.ToShortDateString() ?? "N/A")</h5>
    <h5>Kho: @(Model.BaiTap13Model.Bai11?.Kho?.Ten_Kho ?? "N/A")</h5>
    <h5>Ghi Chú: @(Model.BaiTap13Model.Bai11?.Ghi_Chu ?? "N/A")</h5>

    <h5>Sản phẩm: </h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Mã Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Số Lượng xuất</th>
                <th>Đơn Giá</th>
                <th>Thành Tiền</th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.BaiTap13Model?.Bai11_2 ?? new List<BaiTapModel11_2>())
            {
                <tr>
                    <td> @(item?.sanpham?.Ma_San_Pham ?? "Chưa có sản phẩm")</td>
                    <td> @(item?.sanpham?.Ten_San_Pham ?? "Chưa có sản phẩm")</td>
                    <td> @(string.Format("{0:#,##0}", item?.SL_Xuat ?? 0))</td>
                    <td> @string.Format("{0:#,##0}", item?.Don_Gia_Xuat ?? 0)</td>
                    <td> @string.Format("{0:#,##0}", (item?.SL_Xuat ?? 0) * (item?.Don_Gia_Xuat ?? 0))</td>
                    <th>
                        <a asp-action="Delete" asp-route-bai11Id="@Model.BaiTap13Model.Bai11.Id" asp-route-IdSP="@item.Id"class="btn btn-danger">Delete</a>
                        <a asp-action="Edit"
                           asp-route-bai11Id="@Model.BaiTap13Model.Bai11.Id" 
                           asp-route-SLBD="@item.SL_Xuat" 
                           asp-route-IdSP="@item.Id" class="btn btn-primary">Edit </a>
                    </th>

                </tr>
            }
            <tr>
                <td> Tổng</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>
                    @string.Format("{0:#,##0}", Model.BaiTap13Model?.TriGia ?? 0)
                </td>
                <td> </td>
            </tr>

        </tbody>
    </table>
</div>


<br>
<a asp-action="Add" asp-route-bai11Id="@Model.BaiTap13Model.Bai11.Id" class="btn btn-success">
    <i class="bi bi-plus-circle-fill"></i> Thêm sản phẩm
</a>
<a asp-controller="BaiTap11" asp-action="Index" class="btn btn-secondary">
    <i class="bi bi-plus-circle-fill"></i> Back To List
</a>
<br>
<br>
<div class="text-center">
    <h1> list Phiếu Xuất</h1>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Số Phiếu Nhập</th>
            <th>Ngày Nhập Kho</th>
            <th>Kho</th>
            <th>Ghi Chú</th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.ViewModelList)
        {
            <tr>
                <td>@(x.So_Phieu_Xuat_Kho ?? "N/A")</td>
                <td>@(x.Ngay_Xuat_Kho.ToShortDateString() ?? "N/A")</td>
                <td>@(x.Kho?.Ten_Kho ?? "N/A")</td>
                <td>@(x.Ghi_Chu ?? "N/A")</td>
                <td>
                    <a asp-action="Index" asp-route-bai11Id="@x.Id" class="btn btn-warning">Chi Tiết </a>
                </td>
            </tr>
        }
    </tbody>
</table>
